@font-face {
    src: url(./Fonts/Gilroy-SemiBold.ttf);
    font-family: 'GilroyMedium';
}
@font-face {
    src: url(./Fonts/Gilroy-Bold.ttf);
    font-family: 'GilroyMain';
}
*{
    font-family: 'GilroyMain';
}
.login-page-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
}
.sec-1{
    height: 100vh;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-2{
    height: 100vh;
    width: 50%;
    background-color: #ff8400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-sec1-title{
    font-size: 45px;
    margin-top: 90px;
}
.login-sec1-title span{
    margin-left: 38px;
}
.login-sec1-sub-title{
    color: #ff8400;
    margin-top: 60px;
    position: absolute;
    letter-spacing: 3px;
}
.carousel-item{
    margin: 0;
    padding: 0;
    height: 470px;
    margin-top: 20px;
}
.carousel-item img{
    height: 470px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ::selection{
    background: #ff8400;
    color: #fff;
  }
  .wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin-bottom: 100px;
  }
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #ff8400, #ffbc02);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: #000;
  }
  #login:checked ~ label.signup{
    color: #000;
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: #ff8400;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 8px;
    margin-left: 8px;
  }
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #ff8400;
    text-decoration: none;
    font-family: 'GilroyMedium';
    opacity: .5;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
    opacity: 1;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background-color: #ff8400;
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  @media screen and (max-width: 1000px) and (min-width: 330px) {
      .sec-1{
          width: 100%;
      }
      .sec-2{
          width: 100%;
      }
      .login-page-wrapper{
        display: flex;
        flex-direction: column;
    }
    .login-sec1-title{
        font-size: 30px;
        margin-top: 30px;
    }
    .login-sec1-title span{
        color: #ff8400;
        margin-left: 25px;
    }
    .carousel-item{
        margin: 0;
        padding: 0;
        height: 380px;
    }
    .carousel-item img{
        height: 350px;
    }
    .wrapper{
        max-width: 300px;
        max-height: 480px;
        padding: 30px;
        margin-top: 80px;
      }
  }